@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}

header, footer {
  background-color: #E0E1DD;
  overflow: hidden;
  text-align: center;
  color: #1B263B;
  font-family: "Archivo Black", sans-serif;
  width: 100%;
}
h1, h2 {
  font-family: "Archivo Black", sans-serif;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topnav {
  width: 100%;
  margin: 0;
  padding: 0;
}
.topnav a {
  background-color: #a9a9a7;
  color: #000000;
  text-decoration: none;
  display: block;
  float: left;
  padding: 1%;
  width: 25%;
}
.topnav a:hover {
  background-color: #E0E1DD;
  color: #1B263B;
}
.topnav a.active {
  background-color: #1B263B;
  color: white;
}
.section, .rolemodelsection {
  padding: 14px 0px 14px 10px;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
img {
  margin-right: 10px;
  float: left;
  width: 20%;
}

/* For laptops/devices with a screen over 1000px */
  @media only screen and (min-width: 1000px) {

  .section {
  margin-right: 0px;
    width: 60%;
    float: left;
  }
     #aside {
      margin-left: 0px;
        width: 35%;
        float: right;
      }

  }